.jumbotron {
background-image: url("../img/techHeader.jpg");
background-size: cover;
}
body div.jumbotron div h1{
    color: white;
}
body div.jumbotron div p{
    color: white;
}
body {
    padding-top: 0px; /* Whatever the height of your navbar is; the
                             default is 50px */
    padding-bottom: 0px;
}