@font-face {
  font-family: 'webfontbold';
  src: url('../fonts/nevis-webfont.woff2') format('woff2'), url('../fonts/nevis-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body .allcontent {
  background: #FFFAF0;
}

#headerbar {
  margin-bottom: 0px;
}

#feedheader {
 /* background-image: url("../img/circuitbanner.jpg");*/
 background:#C5C9A4;
  background-size: cover;
  margin-bottom:10px;
}

.nf {
  font-family: 'webfontbold';
  font-size: 60px;
  font-weight: 600;
  color: #1E352F;
}
 
.ratings {
  font-family: 'webfontbold';
  font-size: 15px;
  font-weight: 600;
}

#posrating {
  margin-right:30px;

}
.caret.caret-reversed {
  width: 10px;
  height: 10px;
  background: #000000;
  transform: rotate(45deg);
}

#dropdownbutton {
  background: #7EB09B;
  border: none;
}

.droptext {
  font-family: 'webfontbold';
  font-size: 20px;
  color: black;
}

#headline {
  font-family: 'webfontbold';
  font-size: 28px;
  color: #101010;
}

iframe {
  display: block;
  margin: auto;
}

p#vid {
  text-align: center;
}

.container.article-snip {
  outline: thin solid #f0f0f0;
  width: 60%;
  height: auto;

}

.container.article-snip #articleAnchor:hover{
 text-decoration: none;
 font-size: 29px; 
}

p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}