
body {
    padding-top: 0px;
    /* Whatever the height of your navbar is; the
                             default is 50px */
    padding-bottom: 0px;
    background-color: #f8f8ff;
}

#contact_box>div:hover {
    background-color: #e7e7e7;
}

.contact img {
    width: 40px;
}

.table tbody tr td img {
    width: 40px;
}

.btn-primary {
    background-color: #1E352F;
    border-color: #C5C9A4
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background-color: #C5C9A4;
    border-color: #C5C9A4
}

h2 {
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 28px;
    color: #101010;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 130%;
}

@font-face {
    font-family: 'webfontbold';
    src: url('../fonts/nevis-webfont.woff2') format('woff2'), url('../fonts/nevis-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'webfontbold';
    font-size: 40px;
    font-weight: 600;
    color: #1E352F;
}

.list-group-item:hover {
    background-color: grey;
}

.list-group-item {
    cursor: pointer;
    cursor: hand;
}