
@font-face {
  font-family: 'webfontbold';
  src: url('../fonts/nevis-webfont.woff2') format('woff2'), url('../fonts/nevis-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.nf {
  font-family: 'webfontbold';
  padding-left:6.5%;
  margin-bottom:2%;
  font-size: 40px;
  font-weight: 600;
  color: #1E352F;
}
.widget-area.blank {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
box-shadow: none;
border-radius:9px;
}
body .no-padding {
padding: 0;
}
.widget-area {

background-color: #fff;
float: left;
margin-top: 30px;
padding: 25px 30px;
position: relative;
width: 100%;
}
.status-upload {
background: none repeat scroll 0 0 #f5f5f5;
margin-bottom:2%;
float: left;
width: 100%;
}

.status-upload form textarea {
background: none repeat scroll 0 0 #fff;
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #777777;
float: left;
font-family: Lato;
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
}

.status-upload ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.status-upload ul > li {
float: left;
}
.status-upload ul > li > a {
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;
}
.status-upload ul > li > a:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload form button {
border: medium none;
color: #fff;
float: right;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload form button > i {
margin-right: 7px;
}

.btn.btn-default.btn-circle.btndislike {
   width:3%;
  height:auto;
  background-color:#FFFAF0;
  line-height: 0px; /* adjust line height to align vertically*/
  padding:0;
  border-radius: 50%;
}
.btn.btn-default.btn-circle.btndislike:focus {outline:0;}
.btn.btn-default.btn-circle.btnlike:focus {outline:0;}
.btn.btn-default.btn-circle.btndislike:hover{
  background-color:#f11066
}
.btn.btn-default.btn-circle.btnlike {
  width:3%;
  height:auto;
  background-color:#FFFAF0;
  line-height: 0px; /* adjust line height to align vertically*/
  padding:0;
  border-radius: 50%;
}
.btn.btn-default.btn-circle.btnlike:hover{
  background-color:#357266
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 130%;
}
h3{
  font-family: 'Lora', serif;
  color: #436060;
  font-size: 160%;
}
#archived {
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-size: 28px;
  color: #757575;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#headerbar {
  margin-bottom: 0px;
}

#feedheader{
 margin-bottom:10px;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    filter:opacity(85%);
    z-index: -1;
   
}


@media screen and (max-width: 1024px) {
    
    /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;
        /* 50% */
    }
 
    .nf {
    font-family: 'webfontbold';
    padding-left:1%;
    font-size: 40px;
    font-weight: 600;
    color: #1E352F;
    }

}

.container {
  border: none;
  background: #f8f8ff;
  border-radius: 9px; 
   z-index: 3;

}

.containerfluid{
   border: none;
   background: #f8f8ff;
   border-radius: 9px;
   z-index: 3;
}


.comment-main-level {
    margin-bottom:1%;
    background: #f8f8ff;
}


.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	transition: color 0.3s ease;
}


.comment-box .comment-name {
	color: #1E352F;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}


.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
    padding-top:8px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
     font-family: 'Lato', sans-serif;
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: black;

}
.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #1E352F;}

.dropdown{
     margin-right:7%;
     margin-top:4%;

}
#dropdownbutton {
  background: #7EB09B;
 
  border: none;
}

.droptext {
  font-family: 'webfontbold';
  font-size: 20px;
  color: black;
}

.caret.caret-reversed {
  width: 10px;
  height: 10px;
  background: #000000;
  transform: rotate(45deg);
}