.jumbotron {
    background-image: url("../img/techHeader.jpg");
    background-size: cover;
}

body div.jumbotron div h1 {
    color: white;
}

body div.jumbotron div p {
    color: white;
}

body {
    padding-top: 0px;
    /* Whatever the height of your navbar is; the
                             default is 50px */
    padding-bottom: 0px;
}

#contact_box>div:hover {
    background-color: #e7e7e7;
}

.contact img {
    width: 40px;
}

.media img {
    width: 40px;
}