@font-face {
  font-family: 'webfontbold';
  src: url('../fonts/nevis-webfont.woff2') format('woff2'), url('../fonts/nevis-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


#headerbar {
  margin-bottom: 0px;
}


#postheader{
 margin-bottom:20px;
 font-family: 'webfontbold';
  font-size: 40px;
  font-weight: 600;
  color: #1E352F;
}

p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
}

iframe {
  display: block;
  margin: auto;
}

.container {
   border: none;
   background: #f8f8ff;
  border-radius: 9px; 
   z-index: 3;

}
.containerfluid{
   border: none;
   background: #f8f8ff;
   border-radius: 9px;
   z-index: 3;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    filter:opacity(85%);
    z-index: -1;
   
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;
        /* 50% */
    }
}

.btn.btn-default.btn-circle.btndislike {
   width:5%;
  height:auto;
  background-color:#FFFAF0;
  line-height: 35px; /* adjust line height to align vertically*/
  padding:0;
  border-radius: 50%;
}

.btn.btn-default.btn-circle.btnlike {
  width:5%;
  height:auto;
  background-color:#FFFAF0;
  line-height: 35px; /* adjust line height to align vertically*/
  padding:0;
  border-radius: 50%;
}

.fa.fa-chevron-circle-down.expand{
  color:#357266;
  padding-bottom:8px;
  display:block;
  text-align: center;
}

.fa.fa-chevron-circle-up.deflate{
  color:#357266;
  padding-bottom:8px;
  display:block;
  text-align: center;
}

.nf {
  font-family: 'webfontbold';
  font-size: 40px;
  font-weight: 600;
  color: #1E352F;
}
 
#ratings, #ratings2, #ratings3, #ratings4 {
  font-family: 'webfontbold';
  font-size: 15px;
  font-weight: 600;
}
