img {
  display: block;
  margin: 0 auto;
  max-width:100%; 
}

#headerbar {
  margin-bottom: 0px;
}

#feedheader {
  margin-bottom: 10px;
}

#dropdownbutton {
  background: #7EB09B;
  border: none;
}

.droptext {
  font-family: 'webfontbold';
  font-size: 20px;
  color: black;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  filter: opacity(85%);
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
   .video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;  
	left:0;
	width:100%;
	height:100%;
}
}

.container {
  border: none;
  background: #f8f8ff;
  border-radius: 9px;
  z-index: 3;
}

.containerfluid {
  border: none;
  background: #f8f8ff;
  border-radius: 9px;
  z-index: 3;
}

.nf {
  font-family: 'webfontbold';
  font-size: 40px;
  font-weight: 600;
  color: #1E352F;
}

#ratings,
#ratings2,
#ratings3,
#ratings4 {
  font-family: 'webfontbold';
  font-size: 15px;
  font-weight: 600;
}

#negrating {
  margin-left: 35px;
}

.caret.caret-reversed {
  width: 10px;
  height: 10px;
  background: #000000;
  transform: rotate(45deg);
}

#headline {
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-size: 28px;
  color: #101010;
}

#archived {
   font-family: 'Playfair Display', serif;
  text-align: left;
  font-size: 28px;
  color: #757575;
}

iframe {
  display: block;
  width: 60%;
  margin: auto;
}

p#vid {
  text-align: center;
}

.container.article-snip #articleAnchor:hover {
  text-decoration: none;
  font-size: 29px;
}



p {
  font-family: 'Lato', sans-serif;
  font-size: 130%;
}

h3{
  font-family: 'Lora', serif;
  color: #436060;
  font-size: 160%;
}

.btn.btn-default.btn-circle.btndislike {
  width: 4%;
  height: auto;
  background-color: #FFFAF0;
  line-height: 0px;
  /* adjust line height to align vertically*/
  padding: 0;
  border-radius: 50%;
}

.btn.btn-default.btn-circle.btndislike:focus {
  outline: 0;
}

.btn.btn-default.btn-circle.btnlike:focus {
  outline: 0;
}

.btn.btn-default.btn-circle.btndislike:hover {
  background-color: #f11066
}

.btn.btn-default.btn-circle.btnlike {
  width: 4%;
  height: auto;
  background-color: #FFFAF0;
  line-height: 0px;
  /* adjust line height to align vertically*/
  padding: 0;
  border-radius: 50%;
}

.btn.btn-default.btn-circle.btnlike:hover {
  background-color: #357266
}

.fa.fa-chevron-circle-down.expand {
  color: #357266;
  padding-bottom: 8px;
  display: block;
  text-align: center;
}

.fa.fa-chevron-circle-up.deflate {
  color: #357266;
  padding-bottom: 8px;
  display: block;
  text-align: center;
}

.btn.btn-primary.pull-right.edit_article {
  background: #1E352F;
  border: 1px solid #7EB09B;
  border-width: 1px 1px;
}

@font-face {
  font-family: 'webfontbold';
  src: url('../fonts/nevis-webfont.woff2') format('woff2'), url('../fonts/nevis-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}